[defaults]
#path del inventario
inventory = ./inventory.yml
remote_user = vagrant
#Si tenermos una clave para un grupo de servers
host_key_checking = False
#Solo para no usar el certificado de las maquinas y que no de problemas
interpreter_python = auto_silent
#para que no salga info irrelevante
deprecation_warnings=False